OFTL_POSTGRESDB_USERNAME="admin"
OFTL_POSTGRESDB_PASSWORD="[CHANGE ME]"
OFTL_POSTGRESDB_HOST="localhost"
OFTL_POSTGRESDB_PORT="5432"
OFTL_POSTGRESDB_NAME="paytrace"
OFTL_POSTGRESDB_SCHEMA="paytrace_ingest"

OFTL_E2E_FWCSV_ROOTDIR="../fwcsv"
OFTL_E2E_POLL_INTERVAL_SECONDS="1"
OFTL_E2E_PROCESSING_TIMEOUT_SECONDS="180"
